<launch>
    <arg name="manager_name" default="rm_forecast_nodelet_manager" />
    <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen" >
        <param name="num_worker_threads" value="8" />
    </node>

    <node pkg="nodelet" type="nodelet" name="forecast"
        args="load rm_forecast/Forecast_Node $(arg manager_name)" >
        <rosparam file="$(find rm_forecast)/config/forecast.yaml" command="load" />
        <rosparam file="$(find rm_forecast)/config/camera.yaml" command="load" />
        <remap from="/hk_camera/image_raw" to="/hk_camera/camera/image_raw"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 1 odom camera_optical_frame 100" />

</launch>
